{
    "parser": "babel-eslint",
    "extends": "eslint-config-airbnb-base",
    "env": {
        "node": true,
        "es6": true
    },
    "rules": {
        "max-len": ["error", 140, 2, {
            "ignoreUrls": true,
            "ignoreComments": false
        }],
        "arrow-body-style": ["error", "as-needed"],

        "quotes": [2, "single", "avoid-escape"],
        "brace-style": [0, "1tbs", {"allowSingleLine": true}],
        "no-underscore-dangle": 0,
        "func-names": 0,
        "no-param-reassign": 0,
        "no-else-return": 0,
        "no-template-curly-in-string": 0,

        "padded-blocks": [0, "never"],
        "indent": [2, 4]
    }
}
