language: node_js

node_js:
  - "8"
  - "10"
  - "12"

before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.19.1
- export PATH=$HOME/.yarn/bin:$PATH

cache:
  yarn: true

before_script:
- yarn
- yarn bootstrap

script:
- yarn build
- yarn test
- yarn run-examples

branches:
  only:
    - master
    - greenkeeper/*
    - /^greenkeeper/.*$/

after_success:
- test $TRAVIS_NODE_VERSION = 8 && yarn coveralls

notifications:
    email: false
